.title {
  color: #b37700;
}

.labelText {
  color: #006600;
  font-weight: bold;
}

.saveButton {
  background-color: #006600;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.saveButton:hover {
  background-color: #45a049;
}
