.title {
  color: #b37700;
}

.modal-label {
  font-weight: 600;
  font-size: 16px;
  color: #006600;
}

.modal-button {
  background-color: #006600;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.modal-error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}
